.Teachers__Form{
    padding: 2%; 
    border-radius: 5px;
    border: 2px solid;
    width: 60%;
    height: 150%;
    flex-direction: column;
    display: flex;
    margin-right: 1%;
    margin-left: 1%;
    background-color: rgb(215, 224, 250);
}

h2{
    margin-left: 5%;
}

.Teachers__Header{
    flex-direction: row;
    display: flex;
    height: 70%;
}

.Teachers__Img{
    margin-top: 9%;
    border: 2px solid;
    width: 195px;
    height: 225px;
    background-color: rgb(255, 255, 255);
}

.Teachers__Names{
    width: 75%;
    height: 100%;
    flex-direction: column;
    display: flex;
}

.Teachers__Name{
    border: 2px solid;
    margin-left: 5%;
    width: 100%;
    height: 50%;
    background-color: rgb(255, 255, 255);
}

.Teachers__Nick{
    border: 2px solid;
    margin-left: 5%;
    width: 100%;
    height: 50%;
    background-color: rgb(255, 255, 255);
}

.Teachers__Description{
    border: 2px solid;
    height: 80%;
    background-color: rgb(255, 255, 255);
}